In [1]:
import pandas as pd

In [2]:
df_livestock = pd.read_csv('production_livestock.csv')
df_emissions = pd.read_csv('global_emissions_1830-2023.csv')

In [3]:
df_emissions.columns

Index(['CNTR_NAME', 'ISO3', 'Gas', 'Component', 'Year', 'Data', 'Unit'], dtype='object')

In [4]:
print(df_livestock['Area'].unique())
print(df_emissions['CNTR_NAME'].unique())

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium'
 'Belgium-Luxembourg' 'Belize' 'Benin' 'Bhutan'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic'
 'Chad' 'Chile' 'China, Hong Kong SAR' 'China, Macao SAR'
 'China, mainland' 'China, Taiwan Province of' 'Colombia' 'Comoros'
 'Congo' 'Cook Islands' 'Costa Rica' "Côte d'Ivoire" 'Croatia' 'Cuba'
 'Cyprus' 'Czechia' 'Czechoslovakia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Ethiopia PDR' 'Faroe Islands'
 'Fiji' 'Finland' 'France' 'French Guiana' 'French Polynesia' 'Gabon'
 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guadeloupe'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran (Islamic Republic of)'
 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Mali'
 'Malta' 'Martinique' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands (Kingdom of the)' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'Niue' 'North Macedonia' 'Norway' 'Oman' 'Pakistan'
 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Republic of Korea'
 'Republic of Moldova' 'Réunion' 'Romania' 'Russian Federation' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Serbia and Montenegro' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Sudan (former)' 'Suriname'
 'Sweden' 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'Timor-Leste' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Türkiye' 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay' 'USSR'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Yugoslav SFR' 'Zambia' 'Zimbabwe']
['ANNEXI' 'ANNEXII' 'Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Anguilla' 'Antarctica' 'Antigua and Barbuda' 'Argentina' 'Armenia'
 'Aruba' 'Australia' 'Austria' 'Azerbaijan' 'BASIC' 'Bahamas' 'Bahrain'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda'
 'Bhutan' 'Bolivia' 'Bonaire, Saint Eustatius and Saba'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia'
 'Cameroon' 'Canada' 'Cape Verde' 'Central African Republic' 'Chad'
 'Chile' 'China' 'Christmas Island' 'Colombia' 'Comoros' 'Congo'
 'Cook Islands' 'Costa Rica' 'Croatia' 'Cuba' 'Curaçao' 'Cyprus' 'Czechia'
 "Côte d'Ivoire" 'Democratic Republic of the Congo' 'Denmark' 'Djibouti'
 'Dominica' 'Dominican Republic' 'EIT' 'EU27' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia'
 'Faeroe Islands' 'Fiji' 'Finland' 'France' 'French Polynesia' 'GLOBAL'
 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Greenland'
 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti'
 'Honduras' 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran'
 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Kosovo' 'Kuwait' 'Kuwaiti Oil Fires' 'Kyrgyzstan'
 'LDC' 'LMDC' 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya'
 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Mauritania'
 'Mauritius' 'Mexico' 'Micronesia (Federated States of)' 'Moldova'
 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar'
 'NONANNEX' 'Namibia' 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'North Korea'
 'North Macedonia' 'Norway' 'OECD' 'Occupied Palestinian Territory' 'Oman'
 'Pacific Islands (Palau)' 'Pakistan' 'Palau' 'Panama' 'Papua New Guinea'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania'
 'Russia' 'Rwanda' 'Ryukyu Islands' 'Saint Helena' 'Saint Kitts and Nevis'
 'Saint Lucia' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka'
 'Sudan' 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkmenistan' 'Turks and Caicos Islands'
 'Tuvalu' 'Türkiye' 'USA' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Viet Nam'
 'Wallis and Futuna Islands' 'Yemen' 'Zambia' 'Zimbabwe']

In [5]:
df_livestock.rename(columns = {'Area' : 'Country'}, inplace = True)
df_emissions.rename(columns = {'CNTR_NAME' : 'Country'}, inplace = True)

In [6]:
print(len(df_livestock['Country'].unique()))
print(len(df_emissions['Country'].unique()))

208
229

In [7]:
df_livestock.head()

,Country,Item,Element,Unit,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,...,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022,Y2023
0,Afghanistan,Asses,Stocks,An,1300000.0,851850.0,1001112.0,1150000.0,1300000.0,1200000.0,...,1441000.0,1481000.0,1472100.0,1317000.0,1329850.0,1402909.0,1520555.0,1493288.0,1506699.0,1520111.0
1,Afghanistan,Camels,Stocks,An,250000.0,279910.0,349405.0,325000.0,300000.0,300000.0,...,171000.0,170000.0,170500.0,172000.0,171384.0,170219.0,169410.0,169133.0,168335.0,167537.0
2,Afghanistan,Cattle,Stocks,An,2900000.0,3200000.0,3300000.0,3350000.0,3400000.0,3600000.0,...,5349000.0,5261000.0,5234400.0,4977000.0,5187636.0,5223957.0,5296101.0,5366718.0,5498473.0,5597758.0
3,Afghanistan,Chickens,Stocks,1000 An,4700.0,4900.0,5000.0,5300.0,5500.0,5800.0,...,11098.0,11863.0,11899.0,13573.0,12565.0,12625.0,12848.0,13149.0,13140.0,13358.0
4,Afghanistan,Goats,Stocks,An,4200000.0,4087270.0,3800000.0,3500000.0,3200000.0,3200000.0,...,7059000.0,7723000.0,7448000.0,7598000.0,7761430.0,7882003.0,7742708.0,7855729.0,7955326.0,8038813.0

In [8]:
df_livestock.columns

Index(['Country', 'Item', 'Element', 'Unit', 'Y1961', 'Y1962', 'Y1963',
       'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969', 'Y1970', 'Y1971',
       'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977', 'Y1978', 'Y1979',
       'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985', 'Y1986', 'Y1987',
       'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995',
       'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003',
       'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009', 'Y2010', 'Y2011',
       'Y2012', 'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019',
       'Y2020', 'Y2021', 'Y2022', 'Y2023'],
      dtype='object')

In [9]:
df_livestock = df_livestock.melt(
    id_vars = ['Country', 'Item', 'Element', 'Unit'],  # Columns to keep as-is
    value_vars = ['Y1961', 'Y1962', 'Y1963',
       'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969', 'Y1970', 'Y1971',
       'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977', 'Y1978', 'Y1979',
       'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985', 'Y1986', 'Y1987',
       'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995',
       'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003',
       'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009', 'Y2010', 'Y2011',
       'Y2012', 'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019',
       'Y2020', 'Y2021', 'Y2022', 'Y2023'],  # Columns to "melt"
    var_name = 'Year',  # New column to label the melted variables
    value_name = 'Amount'  # New column to label the values
)
df_livestock

            Country           Item Element     Unit   Year     Amount
0       Afghanistan          Asses  Stocks       An  Y1961  1300000.0
1       Afghanistan         Camels  Stocks       An  Y1961   250000.0
2       Afghanistan         Cattle  Stocks       An  Y1961  2900000.0
3       Afghanistan       Chickens  Stocks  1000 An  Y1961     4700.0
4       Afghanistan          Goats  Stocks       An  Y1961  4200000.0
...             ...            ...     ...      ...    ...        ...
128137     Zimbabwe         Horses  Stocks       An  Y2023    28178.0
128138     Zimbabwe          Sheep  Stocks       An  Y2023   512758.0
128139     Zimbabwe   Swine / pigs  Stocks       An  Y2023   362906.0
128140     Zimbabwe        Turkeys  Stocks  1000 An  Y2023       31.0
128141     Zimbabwe  Poultry Birds  Stocks  1000 An  Y2023    17630.0

[128142 rows x 6 columns]

In [10]:
df_livestock['Year'] = df_livestock['Year'].str.replace('Y', '')
df_livestock['Year'] = df_livestock['Year'].astype(int)

In [11]:
df_livestock

            Country           Item Element     Unit  Year     Amount
0       Afghanistan          Asses  Stocks       An  1961  1300000.0
1       Afghanistan         Camels  Stocks       An  1961   250000.0
2       Afghanistan         Cattle  Stocks       An  1961  2900000.0
3       Afghanistan       Chickens  Stocks  1000 An  1961     4700.0
4       Afghanistan          Goats  Stocks       An  1961  4200000.0
...             ...            ...     ...      ...   ...        ...
128137     Zimbabwe         Horses  Stocks       An  2023    28178.0
128138     Zimbabwe          Sheep  Stocks       An  2023   512758.0
128139     Zimbabwe   Swine / pigs  Stocks       An  2023   362906.0
128140     Zimbabwe        Turkeys  Stocks  1000 An  2023       31.0
128141     Zimbabwe  Poultry Birds  Stocks  1000 An  2023    17630.0

[128142 rows x 6 columns]

In [12]:
countries = df_livestock['Country'].unique()
diff_countries = []
matching_countries = []
for country in df_emissions['Country'].unique():
    if country not in (countries):
        diff_countries.append(country)
    if country in countries:
        matching_countries.append(country)
print(f'Differing countries: \n{diff_countries}\n\n\
Matching countries: \n{matching_countries}')

Differing countries:
['ANNEXI', 'ANNEXII', 'Andorra', 'Anguilla', 'Antarctica', 'Aruba', 'BASIC', 'Bermuda', 'Bolivia', 'Bonaire, Saint Eustatius and Saba', 'British Virgin Islands', 'Cape Verde', 'China', 'Christmas Island', 'Curaçao', 'EIT', 'EU27', 'Faeroe Islands', 'GLOBAL', 'Greenland', 'Hong Kong', 'Iran', 'Kosovo', 'Kuwaiti Oil Fires', 'LDC', 'LMDC', 'Laos', 'Liechtenstein', 'Macao', 'Maldives', 'Marshall Islands', 'Moldova', 'Montserrat', 'NONANNEX', 'Netherlands', 'North Korea', 'OECD', 'Occupied Palestinian Territory', 'Pacific Islands (Palau)', 'Palau', 'Russia', 'Ryukyu Islands', 'Saint Helena', 'Saint Pierre and Miquelon', 'Sint Maarten (Dutch part)', 'South Korea', 'Swaziland', 'Syria', 'Taiwan', 'Tanzania', 'Turks and Caicos Islands', 'USA', 'United Kingdom', 'Venezuela', 'Wallis and Futuna Islands']

Matching countries:
['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', "Côte d'Ivoire", 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Federated States of)', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkmenistan', 'Tuvalu', 'Türkiye', 'Uganda', 'Ukraine', 'United Arab Emirates', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe']

In [13]:
df_emissions = df_emissions.drop(df_emissions[df_emissions['Country'].isin(
    ['ANNEXI', 'ANNEXII', 'BASIC', 'EIT', 'GLOBAL', 'Kuwaiti Oil Fires', 'LDC', 'LMDC', 'NONANNEX', 'OECD', 'EU27']
)].index)

In [14]:
countries = df_livestock['Country'].unique()
diff_countries = []
matching_countries = []
for country in df_emissions['Country'].unique():
    if country not in (countries):
        diff_countries.append(country)
    if country in countries:
        matching_countries.append(country)
print(f'Differing countries: \n{diff_countries}\n\n\
Matching countries: \n{matching_countries}\n\n\
Livestock countries: \n{countries}\n\n\
Emissions countries: \n{df_emissions['Country'].unique()}')

Differing countries:
['Andorra', 'Anguilla', 'Antarctica', 'Aruba', 'Bermuda', 'Bolivia', 'Bonaire, Saint Eustatius and Saba', 'British Virgin Islands', 'Cape Verde', 'China', 'Christmas Island', 'Curaçao', 'Faeroe Islands', 'Greenland', 'Hong Kong', 'Iran', 'Kosovo', 'Laos', 'Liechtenstein', 'Macao', 'Maldives', 'Marshall Islands', 'Moldova', 'Montserrat', 'Netherlands', 'North Korea', 'Occupied Palestinian Territory', 'Pacific Islands (Palau)', 'Palau', 'Russia', 'Ryukyu Islands', 'Saint Helena', 'Saint Pierre and Miquelon', 'Sint Maarten (Dutch part)', 'South Korea', 'Swaziland', 'Syria', 'Taiwan', 'Tanzania', 'Turks and Caicos Islands', 'USA', 'United Kingdom', 'Venezuela', 'Wallis and Futuna Islands']

Matching countries:
['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', "Côte d'Ivoire", 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Federated States of)', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkmenistan', 'Tuvalu', 'Türkiye', 'Uganda', 'Ukraine', 'United Arab Emirates', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe']

Livestock countries:
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium'
 'Belgium-Luxembourg' 'Belize' 'Benin' 'Bhutan'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic'
 'Chad' 'Chile' 'China, Hong Kong SAR' 'China, Macao SAR'
 'China, mainland' 'China, Taiwan Province of' 'Colombia' 'Comoros'
 'Congo' 'Cook Islands' 'Costa Rica' "Côte d'Ivoire" 'Croatia' 'Cuba'
 'Cyprus' 'Czechia' 'Czechoslovakia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Ethiopia PDR' 'Faroe Islands'
 'Fiji' 'Finland' 'France' 'French Guiana' 'French Polynesia' 'Gabon'
 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guadeloupe'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran (Islamic Republic of)'
 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Mali'
 'Malta' 'Martinique' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands (Kingdom of the)' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'Niue' 'North Macedonia' 'Norway' 'Oman' 'Pakistan'
 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Republic of Korea'
 'Republic of Moldova' 'Réunion' 'Romania' 'Russian Federation' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Serbia and Montenegro' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Sudan (former)' 'Suriname'
 'Sweden' 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'Timor-Leste' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Türkiye' 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay' 'USSR'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Yugoslav SFR' 'Zambia' 'Zimbabwe']

Emissions countries:
['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antarctica' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia' 'Bonaire, Saint Eustatius and Saba' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'British Virgin Islands' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada'
 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Christmas Island' 'Colombia' 'Comoros' 'Congo' 'Cook Islands'
 'Costa Rica' 'Croatia' 'Cuba' 'Curaçao' 'Cyprus' 'Czechia'
 "Côte d'Ivoire" 'Democratic Republic of the Congo' 'Denmark' 'Djibouti'
 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Faeroe Islands'
 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Greenland' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kosovo'
 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands'
 'Mauritania' 'Mauritius' 'Mexico' 'Micronesia (Federated States of)'
 'Moldova' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'North Korea'
 'North Macedonia' 'Norway' 'Occupied Palestinian Territory' 'Oman'
 'Pacific Islands (Palau)' 'Pakistan' 'Palau' 'Panama' 'Papua New Guinea'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania'
 'Russia' 'Rwanda' 'Ryukyu Islands' 'Saint Helena' 'Saint Kitts and Nevis'
 'Saint Lucia' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka'
 'Sudan' 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkmenistan' 'Turks and Caicos Islands'
 'Tuvalu' 'Türkiye' 'USA' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Viet Nam'
 'Wallis and Futuna Islands' 'Yemen' 'Zambia' 'Zimbabwe']

In [15]:
df_livestock['Country'] = df_livestock['Country'].replace({'China, Hong Kong SAR':'Hong Kong', 'China, Macao SAR':'Macao',
 'China, mainland':'China', 'China, Taiwan Province of':'Taiwan', "Democratic People's Republic of Korea": 'North Korea','Iran (Islamic Republic of)':'Iran', "Lao People's Democratic Republic":'Laos', 'Netherlands (Kingdom of the)': 'Netherlands','Republic of Korea': 'South Korea', 'Republic of Moldova':'Moldova','Russian Federation':'Russia','United Kingdom of Great Britain and Northern Ireland':'United Kingdom', 'United Republic of Tanzania': 'Tanzania','Venezuela (Bolivarian Republic of)':'Venezuela'}  )

In [16]:
print(len(df_livestock['Country'].unique()))
print(len(df_emissions['Country'].unique()))

208
218

In [17]:
countries = df_livestock['Country'].unique()
diff_countries = []
matching_countries = []
for country in df_emissions['Country'].unique():
    if country not in (countries):
        diff_countries.append(country)
    if country in countries:
        matching_countries.append(country)
print(f'Differing countries: \n{diff_countries}\n\n\
Matching countries: \n{matching_countries}\n\n\
Livestock countries: \n{countries}\n\n\
Emissions countries: \n{df_emissions['Country'].unique()}')

Differing countries:
['Andorra', 'Anguilla', 'Antarctica', 'Aruba', 'Bermuda', 'Bolivia', 'Bonaire, Saint Eustatius and Saba', 'British Virgin Islands', 'Cape Verde', 'Christmas Island', 'Curaçao', 'Faeroe Islands', 'Greenland', 'Kosovo', 'Liechtenstein', 'Maldives', 'Marshall Islands', 'Montserrat', 'Occupied Palestinian Territory', 'Pacific Islands (Palau)', 'Palau', 'Ryukyu Islands', 'Saint Helena', 'Saint Pierre and Miquelon', 'Sint Maarten (Dutch part)', 'Swaziland', 'Syria', 'Turks and Caicos Islands', 'USA', 'Wallis and Futuna Islands']

Matching countries:
['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', "Côte d'Ivoire", 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Federated States of)', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Korea', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkmenistan', 'Tuvalu', 'Türkiye', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe']

Livestock countries:
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium'
 'Belgium-Luxembourg' 'Belize' 'Benin' 'Bhutan'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic'
 'Chad' 'Chile' 'Hong Kong' 'Macao' 'China' 'Taiwan' 'Colombia' 'Comoros'
 'Congo' 'Cook Islands' 'Costa Rica' "Côte d'Ivoire" 'Croatia' 'Cuba'
 'Cyprus' 'Czechia' 'Czechoslovakia' 'North Korea'
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Ethiopia PDR' 'Faroe Islands'
 'Fiji' 'Finland' 'France' 'French Guiana' 'French Polynesia' 'Gabon'
 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guadeloupe'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Mali'
 'Malta' 'Martinique' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Palestine' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'South Korea' 'Moldova' 'Réunion' 'Romania'
 'Russia' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Serbia and Montenegro' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan'
 'Sudan (former)' 'Suriname' 'Sweden' 'Switzerland' 'Syrian Arab Republic'
 'Tajikistan' 'Thailand' 'Timor-Leste' 'Togo' 'Tokelau' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Türkiye' 'Turkmenistan' 'Tuvalu'
 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom' 'Tanzania'
 'United States of America' 'Uruguay' 'USSR' 'Uzbekistan' 'Vanuatu'
 'Venezuela' 'Viet Nam' 'Yemen' 'Yugoslav SFR' 'Zambia' 'Zimbabwe']

Emissions countries:
['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antarctica' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia' 'Bonaire, Saint Eustatius and Saba' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'British Virgin Islands' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada'
 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Christmas Island' 'Colombia' 'Comoros' 'Congo' 'Cook Islands'
 'Costa Rica' 'Croatia' 'Cuba' 'Curaçao' 'Cyprus' 'Czechia'
 "Côte d'Ivoire" 'Democratic Republic of the Congo' 'Denmark' 'Djibouti'
 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Faeroe Islands'
 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Greenland' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kosovo'
 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands'
 'Mauritania' 'Mauritius' 'Mexico' 'Micronesia (Federated States of)'
 'Moldova' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'North Korea'
 'North Macedonia' 'Norway' 'Occupied Palestinian Territory' 'Oman'
 'Pacific Islands (Palau)' 'Pakistan' 'Palau' 'Panama' 'Papua New Guinea'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania'
 'Russia' 'Rwanda' 'Ryukyu Islands' 'Saint Helena' 'Saint Kitts and Nevis'
 'Saint Lucia' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka'
 'Sudan' 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkmenistan' 'Turks and Caicos Islands'
 'Tuvalu' 'Türkiye' 'USA' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Viet Nam'
 'Wallis and Futuna Islands' 'Yemen' 'Zambia' 'Zimbabwe']

In [18]:
df_livestock_emissions = pd.merge(df_livestock,
                  df_emissions,
                  on = ['Country', 'Year'], how = 'inner')

In [19]:
df_livestock_emissions

,Country,Item,Element,Unit_x,Year,Amount,ISO3,Gas,Component,Data,Unit_y
0,Afghanistan,Asses,Stocks,An,1961,1300000.0,AFG,CH[4],Fossil,0.061343,Tg~CH[4]~year^-1
1,Afghanistan,Asses,Stocks,An,1961,1300000.0,AFG,CH[4],LULUCF,0.286158,Tg~CH[4]~year^-1
2,Afghanistan,Asses,Stocks,An,1961,1300000.0,AFG,CH[4],Total,0.347500,Tg~CH[4]~year^-1
3,Afghanistan,Asses,Stocks,An,1961,1300000.0,AFG,CO[2],Fossil,0.000491,Pg~CO[2]~year^-1
4,Afghanistan,Asses,Stocks,An,1961,1300000.0,AFG,CO[2],LULUCF,0.013178,Pg~CO[2]~year^-1
...,...,...,...,...,...,...,...,...,...,...,...
1034644,Zimbabwe,Poultry Birds,Stocks,1000 An,2023,17630.0,ZWE,CO[2],LULUCF,0.005348,Pg~CO[2]~year^-1
1034645,Zimbabwe,Poultry Birds,Stocks,1000 An,2023,17630.0,ZWE,CO[2],Total,0.016512,Pg~CO[2]~year^-1
1034646,Zimbabwe,Poultry Birds,Stocks,1000 An,2023,17630.0,ZWE,N[2]*O,Fossil,0.003558,Tg~N[2]*O~year^-1
1034647,Zimbabwe,Poultry Birds,Stocks,1000 An,2023,17630.0,ZWE,N[2]*O,LULUCF,0.013505,Tg~N[2]*O~year^-1
1034648,Zimbabwe,Poultry Birds,Stocks,1000 An,2023,17630.0,ZWE,N[2]*O,Total,0.017063,Tg~N[2]*O~year^-1

In [20]:
df_emissions

            Country ISO3     Gas Component  Year      Data               Unit
3452    Afghanistan  AFG   CH[4]    Fossil  1830  0.018746   Tg~CH[4]~year^-1
3453    Afghanistan  AFG   CH[4]    Fossil  1831  0.018850   Tg~CH[4]~year^-1
3454    Afghanistan  AFG   CH[4]    Fossil  1832  0.018953   Tg~CH[4]~year^-1
3455    Afghanistan  AFG   CH[4]    Fossil  1833  0.019057   Tg~CH[4]~year^-1
3456    Afghanistan  AFG   CH[4]    Fossil  1834  0.019161   Tg~CH[4]~year^-1
...             ...  ...     ...       ...   ...       ...                ...
367773     Zimbabwe  ZWE  N[2]*O     Total  2019  0.018665  Tg~N[2]*O~year^-1
367774     Zimbabwe  ZWE  N[2]*O     Total  2020  0.016756  Tg~N[2]*O~year^-1
367775     Zimbabwe  ZWE  N[2]*O     Total  2021  0.017795  Tg~N[2]*O~year^-1
367776     Zimbabwe  ZWE  N[2]*O     Total  2022  0.017784  Tg~N[2]*O~year^-1
367777     Zimbabwe  ZWE  N[2]*O     Total  2023  0.017063  Tg~N[2]*O~year^-1

[350130 rows x 7 columns]

In [21]:
df_emissions.drop(columns = ['ISO3', 'Unit'], inplace = True)

In [22]:
df_emissions

            Country     Gas Component  Year      Data
3452    Afghanistan   CH[4]    Fossil  1830  0.018746
3453    Afghanistan   CH[4]    Fossil  1831  0.018850
3454    Afghanistan   CH[4]    Fossil  1832  0.018953
3455    Afghanistan   CH[4]    Fossil  1833  0.019057
3456    Afghanistan   CH[4]    Fossil  1834  0.019161
...             ...     ...       ...   ...       ...
367773     Zimbabwe  N[2]*O     Total  2019  0.018665
367774     Zimbabwe  N[2]*O     Total  2020  0.016756
367775     Zimbabwe  N[2]*O     Total  2021  0.017795
367776     Zimbabwe  N[2]*O     Total  2022  0.017784
367777     Zimbabwe  N[2]*O     Total  2023  0.017063

[350130 rows x 5 columns]

In [23]:
df_emissions = df_emissions.pivot(index=['Country', 'Gas', 'Year'], columns='Component', values='Data').reset_index()
df_emissions

Component      Country     Gas  Year    Fossil    LULUCF     Total
0          Afghanistan   CH[4]  1830  0.018746  0.098094  0.116840
1          Afghanistan   CH[4]  1831  0.018850  0.098639  0.117488
2          Afghanistan   CH[4]  1832  0.018953  0.099183  0.118137
3          Afghanistan   CH[4]  1833  0.019057  0.099728  0.118786
4          Afghanistan   CH[4]  1834  0.019161  0.100273  0.119434
...                ...     ...   ...       ...       ...       ...
120235        Zimbabwe  N[2]*O  2019  0.003712  0.014953  0.018665
120236        Zimbabwe  N[2]*O  2020  0.003455  0.013300  0.016756
120237        Zimbabwe  N[2]*O  2021  0.003533  0.014262  0.017795
120238        Zimbabwe  N[2]*O  2022  0.003625  0.014159  0.017784
120239        Zimbabwe  N[2]*O  2023  0.003558  0.013505  0.017063

[120240 rows x 6 columns]

In [24]:
df_livestock = df_livestock.drop(columns=['Unit', 'Element'])

In [25]:
df_livestock_emissions = pd.merge(df_livestock,
                  df_emissions,
                  on = ['Country', 'Year'], how = 'inner')

In [26]:
df_livestock_emissions

,Country,Item,Year,Amount,Gas,Fossil,LULUCF,Total
0,Afghanistan,Asses,1961,1300000.0,CH[4],0.061343,0.286158,0.347500
1,Afghanistan,Asses,1961,1300000.0,CO[2],0.000491,0.013178,0.013669
2,Afghanistan,Asses,1961,1300000.0,N[2]*O,0.000188,0.010532,0.010720
3,Afghanistan,Camels,1961,250000.0,CH[4],0.061343,0.286158,0.347500
4,Afghanistan,Camels,1961,250000.0,CO[2],0.000491,0.013178,0.013669
...,...,...,...,...,...,...,...,...
345802,Zimbabwe,Turkeys,2023,31.0,CO[2],0.011164,0.005348,0.016512
345803,Zimbabwe,Turkeys,2023,31.0,N[2]*O,0.003558,0.013505,0.017063
345804,Zimbabwe,Poultry Birds,2023,17630.0,CH[4],0.217210,0.232048,0.449257
345805,Zimbabwe,Poultry Birds,2023,17630.0,CO[2],0.011164,0.005348,0.016512
345806,Zimbabwe,Poultry Birds,2023,17630.0,N[2]*O,0.003558,0.013505,0.017063

In [27]:
df_livestock_emissions = df_livestock_emissions[df_livestock_emissions['Gas']=='CH[4]']

In [28]:
df_livestock_emissions = df_livestock_emissions.drop(columns='Gas')

In [29]:
df_livestock_emissions

,Country,Item,Year,Amount,Fossil,LULUCF,Total
0,Afghanistan,Asses,1961,1300000.0,0.061343,0.286158,0.347500
3,Afghanistan,Camels,1961,250000.0,0.061343,0.286158,0.347500
6,Afghanistan,Cattle,1961,2900000.0,0.061343,0.286158,0.347500
9,Afghanistan,Chickens,1961,4700.0,0.061343,0.286158,0.347500
12,Afghanistan,Goats,1961,4200000.0,0.061343,0.286158,0.347500
...,...,...,...,...,...,...,...
345792,Zimbabwe,Horses,2023,28178.0,0.217210,0.232048,0.449257
345795,Zimbabwe,Sheep,2023,512758.0,0.217210,0.232048,0.449257
345798,Zimbabwe,Swine / pigs,2023,362906.0,0.217210,0.232048,0.449257
345801,Zimbabwe,Turkeys,2023,31.0,0.217210,0.232048,0.449257
345804,Zimbabwe,Poultry Birds,2023,17630.0,0.217210,0.232048,0.449257

In [30]:
df_livestock = df_livestock.pivot(index=['Country', 'Year'], columns='Item', values='Amount').reset_index()
df_livestock

Item,Country,Year,Asses,Bees,Buffalo,Camels,Cattle,Chickens,Ducks,Geese,Goats,Horses,"Meat, Total",Other birds,Other camelids,Other rodents,Poultry Birds,Sheep,Swine / pigs,Turkeys
0,Afghanistan,1961,1300000.0,NaN,NaN,250000.0,2900000.0,4700.0,NaN,NaN,4200000.0,276841.0,NaN,NaN,NaN,NaN,4700.0,18000000.0,NaN,NaN
1,Afghanistan,1962,851850.0,NaN,NaN,279910.0,3200000.0,4900.0,NaN,NaN,4087270.0,245850.0,NaN,NaN,NaN,NaN,4900.0,18150000.0,NaN,NaN
2,Afghanistan,1963,1001112.0,NaN,NaN,349405.0,3300000.0,5000.0,NaN,NaN,3800000.0,263265.0,NaN,NaN,NaN,NaN,5000.0,18500000.0,NaN,NaN
3,Afghanistan,1964,1150000.0,NaN,NaN,325000.0,3350000.0,5300.0,NaN,NaN,3500000.0,291000.0,NaN,NaN,NaN,NaN,5300.0,19000000.0,NaN,NaN
4,Afghanistan,1965,1300000.0,NaN,NaN,300000.0,3400000.0,5500.0,NaN,NaN,3200000.0,320000.0,NaN,NaN,NaN,NaN,5500.0,19600000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13099,Zimbabwe,2019,519522.0,NaN,NaN,NaN,5057563.0,17000.0,86.0,NaN,5721322.0,28133.0,NaN,NaN,NaN,NaN,17116.0,352608.0,182896.0,30.0
13100,Zimbabwe,2020,561605.0,NaN,NaN,NaN,5195154.0,16200.0,87.0,NaN,5772766.0,28242.0,NaN,NaN,NaN,NaN,16318.0,376033.0,269508.0,31.0
13101,Zimbabwe,2021,598070.0,NaN,NaN,NaN,5478648.0,17995.0,87.0,NaN,5928807.0,28163.0,NaN,NaN,NaN,NaN,18113.0,361516.0,278106.0,31.0
13102,Zimbabwe,2022,644043.0,NaN,NaN,NaN,5533727.0,19855.0,88.0,NaN,6171932.0,28171.0,NaN,NaN,NaN,NaN,19973.0,431957.0,362732.0,30.0
13103,Zimbabwe,2023,668489.0,NaN,NaN,NaN,5754985.0,17510.0,88.0,NaN,6464047.0,28178.0,NaN,NaN,NaN,NaN,17630.0,512758.0,362906.0,31.0

In [31]:
df_livestock_emissions.to_csv('livestock_emissions.csv', index = False)