In [1]:
import pandas as pd

In [2]:
df_prod = pd.read_csv('production_livestock_crops_global.csv')

In [3]:
df_prod.describe()

,Area Code,Item Code,Element Code,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,...,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022,Y2023
count,79711.000000,79711.000000,79711.000000,5.737000e+04,5.737700e+04,5.737600e+04,5.739100e+04,5.738600e+04,5.744700e+04,5.745100e+04,...,7.103000e+04,7.109600e+04,7.118300e+04,7.141000e+04,7.072900e+04,7.082200e+04,7.093500e+04,7.099100e+04,7.112000e+04,6.614500e+04
mean,1313.302568,865.879251,5408.833310,1.514965e+06,1.549240e+06,1.582932e+06,1.630178e+06,1.663916e+06,1.704733e+06,1.749159e+06,...,3.156620e+06,3.184441e+06,3.226641e+06,3.273442e+06,3.329584e+06,3.345364e+06,3.384600e+06,3.464475e+06,3.504832e+06,3.752891e+06
std,2194.895639,1461.515725,101.505636,1.586835e+07,1.615213e+07,1.645200e+07,1.694783e+07,1.731071e+07,1.775626e+07,1.817071e+07,...,3.576517e+07,3.611638e+07,3.656186e+07,3.692842e+07,3.735102e+07,3.722087e+07,3.759316e+07,3.870242e+07,3.929182e+07,4.156594e+07
min,1.000000,15.000000,5111.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,89.000000,358.000000,5312.000000,8.362500e+02,8.625000e+02,8.929750e+02,9.100000e+02,9.343750e+02,9.500000e+02,9.885000e+02,...,1.524205e+03,1.543307e+03,1.560000e+03,1.557030e+03,1.442300e+03,1.433050e+03,1.432300e+03,1.437730e+03,1.441750e+03,1.389000e+03
50%,169.000000,587.000000,5412.000000,7.500000e+03,7.700000e+03,7.981640e+03,8.000000e+03,8.130950e+03,8.400000e+03,8.647000e+03,...,1.207270e+04,1.223683e+04,1.234740e+04,1.237300e+04,1.222000e+04,1.225000e+04,1.218570e+04,1.214760e+04,1.220000e+04,1.174500e+04
75%,272.000000,1037.000000,5510.000000,6.655310e+04,6.874600e+04,7.060525e+04,7.305150e+04,7.500000e+04,7.721212e+04,7.975700e+04,...,1.211520e+05,1.225511e+05,1.234405e+05,1.241075e+05,1.255072e+05,1.269745e+05,1.263125e+05,1.270417e+05,1.278680e+05,1.227800e+05
max,5817.000000,17530.000000,5513.000000,1.342210e+09,1.360092e+09,1.368767e+09,1.381032e+09,1.397533e+09,1.408673e+09,1.428836e+09,...,2.818170e+09,2.837867e+09,2.912244e+09,2.961412e+09,2.901857e+09,2.964207e+09,3.008965e+09,3.070651e+09,3.073689e+09,3.134294e+09

In [4]:
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79711 entries, 0 to 79710
Data columns (total 72 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Area Code        79711 non-null  int64
 1   Area Code (M49)  79711 non-null  object
 2   Area             79711 non-null  object
 3   Item Code        79711 non-null  int64
 4   Item Code (CPC)  79711 non-null  object
 5   Item             79711 non-null  object
 6   Element Code     79711 non-null  int64
 7   Element          79711 non-null  object
 8   Unit             79711 non-null  object
 9   Y1961            57370 non-null  float64
 10  Y1962            57377 non-null  float64
 11  Y1963            57376 non-null  float64
 12  Y1964            57391 non-null  float64
 13  Y1965            57386 non-null  float64
 14  Y1966            57447 non-null  float64
 15  Y1967            57451 non-null  float64
 16  Y1968            57489 non-null  float64
 17  Y1969            57495 non-null  float64
 18  Y1970            57554 non-null  float64
 19  Y1971            57568 non-null  float64
 20  Y1972            57584 non-null  float64
 21  Y1973            57591 non-null  float64
 22  Y1974            57621 non-null  float64
 23  Y1975            57677 non-null  float64
 24  Y1976            57711 non-null  float64
 25  Y1977            57795 non-null  float64
 26  Y1978            57810 non-null  float64
 27  Y1979            57884 non-null  float64
 28  Y1980            58072 non-null  float64
 29  Y1981            58138 non-null  float64
 30  Y1982            58181 non-null  float64
 31  Y1983            58225 non-null  float64
 32  Y1984            58281 non-null  float64
 33  Y1985            59890 non-null  float64
 34  Y1986            60001 non-null  float64
 35  Y1987            60123 non-null  float64
 36  Y1988            60199 non-null  float64
 37  Y1989            60404 non-null  float64
 38  Y1990            61576 non-null  float64
 39  Y1991            62097 non-null  float64
 40  Y1992            67562 non-null  float64
 41  Y1993            67937 non-null  float64
 42  Y1994            68298 non-null  float64
 43  Y1995            68536 non-null  float64
 44  Y1996            68647 non-null  float64
 45  Y1997            68818 non-null  float64
 46  Y1998            69004 non-null  float64
 47  Y1999            69273 non-null  float64
 48  Y2000            69782 non-null  float64
 49  Y2001            69892 non-null  float64
 50  Y2002            69975 non-null  float64
 51  Y2003            70324 non-null  float64
 52  Y2004            70556 non-null  float64
 53  Y2005            70648 non-null  float64
 54  Y2006            70900 non-null  float64
 55  Y2007            70124 non-null  float64
 56  Y2008            70160 non-null  float64
 57  Y2009            70200 non-null  float64
 58  Y2010            70512 non-null  float64
 59  Y2011            70585 non-null  float64
 60  Y2012            70747 non-null  float64
 61  Y2013            70797 non-null  float64
 62  Y2014            71030 non-null  float64
 63  Y2015            71096 non-null  float64
 64  Y2016            71183 non-null  float64
 65  Y2017            71410 non-null  float64
 66  Y2018            70729 non-null  float64
 67  Y2019            70822 non-null  float64
 68  Y2020            70935 non-null  float64
 69  Y2021            70991 non-null  float64
 70  Y2022            71120 non-null  float64
 71  Y2023            66145 non-null  float64
dtypes: float64(63), int64(3), object(6)
memory usage: 43.8+ MB

In [5]:
df_prod.head()

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,Y1961,...,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022,Y2023
0,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,ha,0.0,...,13703.0,14676.0,19481.0,19793.0,20053.0,29203.0,22134.0,36862.0,36462.0,37000.0
1,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5412,Yield,kg/ha,NaN,...,1999.6,1652.1,1685.9,1378.8,1716.1,1308.3,1775.9,1743.2,1742.0,1810.8
2,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5510,Production,t,0.0,...,27400.0,24246.0,32843.0,27291.0,34413.0,38205.0,39307.0,64256.0,63515.0,67000.0
3,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5312,Area harvested,ha,NaN,...,30000.0,25000.0,24500.0,26160.0,25220.0,25293.0,25558.0,25357.0,25403.0,25439.0
4,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5412,Yield,kg/ha,NaN,...,716.7,720.0,707.5,697.0,708.0,704.1,703.0,705.0,704.0,704.0

In [6]:
df_prod['Area Code'] = df_prod['Area Code'].astype(object)

In [7]:
print('Categorical Values:')
cat_variables = df_prod.select_dtypes(include=['object']).columns
for col in cat_variables:
    print(col)
    print(len(df_prod[col].unique()))

Categorical Values:
Area Code
245
Area Code (M49)
245
Area
245
Item Code (CPC)
302
Item
302
Element
8
Unit
11

In [8]:
df_prod.drop(columns=['Area Code (M49)', 'Item Code (CPC)', 'Item Code', 'Area Code', 'Element Code'], inplace = True)

In [9]:
df_prod.head()

,Area,Item,Element,Unit,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,...,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022,Y2023
0,Afghanistan,"Almonds, in shell",Area harvested,ha,0.0,0.0,0.0,0.0,0.0,0.0,...,13703.0,14676.0,19481.0,19793.0,20053.0,29203.0,22134.0,36862.0,36462.0,37000.0
1,Afghanistan,"Almonds, in shell",Yield,kg/ha,NaN,NaN,NaN,NaN,NaN,NaN,...,1999.6,1652.1,1685.9,1378.8,1716.1,1308.3,1775.9,1743.2,1742.0,1810.8
2,Afghanistan,"Almonds, in shell",Production,t,0.0,0.0,0.0,0.0,0.0,0.0,...,27400.0,24246.0,32843.0,27291.0,34413.0,38205.0,39307.0,64256.0,63515.0,67000.0
3,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",Area harvested,ha,NaN,NaN,NaN,NaN,NaN,NaN,...,30000.0,25000.0,24500.0,26160.0,25220.0,25293.0,25558.0,25357.0,25403.0,25439.0
4,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",Yield,kg/ha,NaN,NaN,NaN,NaN,NaN,NaN,...,716.7,720.0,707.5,697.0,708.0,704.1,703.0,705.0,704.0,704.0

In [10]:
df_prod.to_csv('production_livestock_crop_reduced.csv', index = False)

In [11]:
df_prod.shape

(79711, 67)

In [12]:
print('Categorical Values:')
cat_variables = df_prod.select_dtypes(include=['object']).columns
for col in cat_variables:
    print(col)
    print(df_prod[col].unique())

Categorical Values:
Area
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium'
 'Belgium-Luxembourg' 'Belize' 'Benin' 'Bhutan'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic'
 'Chad' 'Chile' 'China' 'China, Hong Kong SAR' 'China, Macao SAR'
 'China, mainland' 'China, Taiwan Province of' 'Colombia' 'Comoros'
 'Congo' 'Cook Islands' 'Costa Rica' "CÃ´te d'Ivoire" 'Croatia' 'Cuba'
 'Cyprus' 'Czechia' 'Czechoslovakia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Ethiopia PDR' 'Faroe Islands'
 'Fiji' 'Finland' 'France' 'French Guiana' 'French Polynesia' 'Gabon'
 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guadeloupe'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran (Islamic Republic of)'
 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia'
 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Martinique' 'Mauritania'
 'Mauritius' 'Mexico' 'Micronesia (Federated States of)' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands (Kingdom of the)' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'Niue' 'North Macedonia' 'Norway' 'Oman' 'Pakistan'
 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Republic of Korea'
 'Republic of Moldova' 'RÃ©union' 'Romania' 'Russian Federation' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Serbia and Montenegro' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Sudan (former)' 'Suriname'
 'Sweden' 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'Timor-Leste' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'TÃ¼rkiye' 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay' 'USSR'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Yugoslav SFR' 'Zambia' 'Zimbabwe' 'World' 'Africa'
 'Eastern Africa' 'Middle Africa' 'Northern Africa' 'Southern Africa'
 'Western Africa' 'Americas' 'Northern America' 'Central America'
 'Caribbean' 'South America' 'Asia' 'Central Asia' 'Eastern Asia'
 'Southern Asia' 'South-eastern Asia' 'Western Asia' 'Europe'
 'Eastern Europe' 'Northern Europe' 'Southern Europe' 'Western Europe'
 'Oceania' 'Australia and New Zealand' 'Melanesia' 'Micronesia'
 'Polynesia' 'European Union (27)' 'Least Developed Countries'
 'Land Locked Developing Countries' 'Small Island Developing States'
 'Low Income Food Deficit Countries'
 'Net Food Importing Developing Countries']
Item
['Almonds, in shell'
 'Anise, badian, coriander, cumin, caraway, fennel and juniper berries, raw'
 'Apples' 'Apricots' 'Asses' 'Barley' 'Butter and ghee of sheep milk'
 'Butter of cow milk' 'Buttermilk, dry' 'Camels'
 'Cantaloupes and other melons' 'Cattle' 'Cattle fat, unrendered'
 'Cheese from milk of goats, fresh or processed'
 'Cheese from milk of sheep, fresh or processed' 'Chickens'
 'Cotton lint, ginned' 'Cotton seed' 'Cottonseed oil'
 'Edible offal of cattle, fresh, chilled or frozen'
 'Edible offal of goat, fresh, chilled or frozen'
 'Edible offal of sheep, fresh, chilled or frozen'
 'Edible offals of camels and other camelids, fresh, chilled or frozen'
 'Fat of camels' 'Figs' 'Game meat, fresh, chilled or frozen'
 'Goat fat, unrendered' 'Goats' 'Grapes' 'Hen eggs in shell, fresh'
 'Horses' 'Linseed' 'Maize (corn)' 'Meat of camels, fresh or chilled'
 'Meat of cattle with the bone, fresh or chilled'
 'Meat of chickens, fresh or chilled' 'Meat of goat, fresh or chilled'
 'Meat of sheep, fresh or chilled' 'Millet' 'Molasses' 'Mules and hinnies'
 'Mustard seed' 'Natural honey' 'Oil of linseed' 'Oil of sesame seed'
 'Olive oil' 'Olives' 'Onions and shallots, dry (excluding dehydrated)'
 'Oranges' 'Other berries and fruits of the genus vaccinium n.e.c.'
 'Other citrus fruit, n.e.c.' 'Other fruits, n.e.c.'
 'Other nuts (excluding wild edible nuts and groundnuts), in shell, n.e.c.'
 'Other pulses n.e.c.' 'Other stimulant, spice and aromatic crops, n.e.c.'
 'Other stone fruits' 'Other vegetables, fresh n.e.c.'
 'Peaches and nectarines' 'Pears' 'Pistachios, in shell' 'Plums and sloes'
 'Potatoes' 'Raw cane or beet sugar (centrifugal only)'
 'Raw hides and skins of cattle' 'Raw hides and skins of goats or kids'
 'Raw hides and skins of sheep or lambs' 'Raw milk of camel'
 'Raw milk of cattle' 'Raw milk of goats' 'Raw milk of sheep'
 'Raw silk (not thrown)' 'Rice' 'Seed cotton, unginned' 'Sesame seed'
 'Sheep' 'Sheep fat, unrendered'
 'Shorn wool, greasy, including fleece-washed shorn wool'
 'Silk-worm cocoons suitable for reeling' 'Skim milk of cows' 'Soya beans'
 'Sugar beet' 'Sugar cane' 'Sunflower seed' 'Sunflower-seed oil, crude'
 'Walnuts, in shell' 'Watermelons' 'Wheat'
 'Beef and Buffalo Meat, primary' 'Butter and Ghee' 'Cattle and Buffaloes'
 'Cereals, primary' 'Cheese (All Kinds)' 'Citrus Fruit, Total'
 'Eggs Primary' 'Fibre Crops, Fibre Equivalent' 'Fruit Primary'
 'Meat, Poultry' 'Meat, Total' 'Milk, Total' 'Oilcrops, Cake Equivalent'
 'Oilcrops, Oil Equivalent' 'Poultry Birds' 'Pulses, Total'
 'Roots and Tubers, Total' 'Sheep and Goat Meat' 'Sheep and Goats'
 'Skim Milk & Buttermilk, Dry' 'Sugar Crops Primary' 'Treenuts, Total'
 'Vegetables Primary' 'Beans, dry' 'Beer of barley, malted' 'Bees'
 'Broad beans and horse beans, dry' 'Broad beans and horse beans, green'
 'Buffalo' 'Buffalo fat, unrendered' 'Cabbages' 'Carrots and turnips'
 'Cauliflowers and broccoli' 'Cheese from whole cow milk' 'Cherries'
 'Chestnuts, in shell'
 'Chillies and peppers, green (Capsicum spp. and Pimenta spp.)'
 'Cucumbers and gherkins' 'Dates' 'Ducks'
 'Edible offal of buffalo, fresh, chilled or frozen'
 'Edible offal of pigs, fresh, chilled or frozen'
 'Edible offals of horses and other equines,  fresh, chilled or frozen'
 'Eggplants (aubergines)' 'Eggs from other birds in shell, fresh, n.e.c.'
 'Fat of pigs' 'Geese' 'Green garlic'
 'Green tea (not fermented), black tea (fermented) and partly fermented tea, in immediate packings of a content not exceeding 3 kg'
 'Groundnut oil' 'Hop cones' 'Horse meat, fresh or chilled'
 'Leeks and other alliaceous vegetables' 'Lemons and limes'
 'Lettuce and chicory' 'Margarine and shortening'
 'Meat of asses, fresh or chilled' 'Meat of buffalo, fresh or chilled'
 'Meat of pig with the bone, fresh or chilled'
 'Meat of turkeys, fresh or chilled' 'Mushrooms and truffles' 'Oats'
 'Okra' 'Onions and shallots, green' 'Other beans, green'
 'Other meat of mammals, fresh or chilled' 'Palm oil' 'Peas, green'
 'Pumpkins, squash and gourds' 'Quinces'
 'Raw hides and skins of buffaloes' 'Raw milk of buffalo' 'Rye' 'Sorghum'
 'Sour cherries' 'Soya bean oil' 'Spinach' 'Strawberries' 'Swine / pigs'
 'Tangerines, mandarins, clementines' 'Tomatoes' 'Turkeys'
 'Unmanufactured tobacco' 'Vetches' 'Wine' 'Artichokes' 'Bananas'
 'Cheese from skimmed cow milk' 'Chick peas, dry'
 'Chillies and peppers, dry (Capsicum spp., Pimenta spp.), raw'
 'Groundnuts, excluding shelled' 'Lentils, dry' 'Locust beans (carobs)'
 'Meat of rabbits and hares, fresh or chilled'
 'Other tropical fruits, n.e.c.' 'Peas, dry' 'Pomelos and grapefruits'
 'Rabbits and hares' 'Rape or colza seed' 'Rapeseed or canola oil, crude'
 'Safflower-seed oil, crude' 'Triticale' 'Avocados' 'Beeswax'
 'Cashew nuts, in shell' 'Cassava, fresh' 'Castor oil seeds' 'Cocoa beans'
 'Coffee, green' 'Kenaf, and other textile bast fibres, raw or retted'
 'Mangoes, guavas and mangosteens' 'Oil of palm kernel' 'Oil palm fruit'
 'Palm kernels' 'Pig fat, rendered' 'Pineapples' 'Sisal, raw'
 'Sweet potatoes' 'Green corn (maize)' 'Taro' 'Yams' 'Asparagus'
 'Canary seed' 'Cereals n.e.c.' 'Cream, fresh' 'Flax, raw or retted'
 'Ghee from cow milk' 'Lupins' 'MatÃ© leaves'
 'Meat of ducks, fresh or chilled' 'Meat of geese, fresh or chilled'
 'Meat of mules, fresh or chilled' 'Oil of maize'
 'Other fibre crops, raw, n.e.c.' 'Other oil seeds, n.e.c.' 'Papayas'
 'Peppermint, spearmint' 'Safflower seed' 'Skim milk and whey powder'
 'String beans' 'Tallow' 'Tea leaves' 'Tung nuts' 'Whey, dry'
 'Whole milk powder' 'Whole milk, condensed' 'Whole milk, evaporated'
 'Evaporated & Condensed Milk' 'Hazelnuts, in shell' 'Blueberries'
 'Coconut oil' 'Cow peas, dry' 'Currants' 'Ginger, raw' 'Hempseed'
 'Kiwi fruit' 'Persimmons' 'Raspberries' 'Skim milk, condensed'
 'True hemp, raw or retted' 'Buckwheat'
 'Cheese from milk of buffalo, fresh or processed' 'Gooseberries'
 'Mixed grain' 'Poppy seed' 'Whey, condensed' 'Yoghurt' 'Cranberries'
 'Coconuts, in shell' 'Pigeon peas, dry' 'Plantains and cooking bananas'
 'Areca nuts' 'Butter of buffalo milk' 'Coir, raw'
 'Ghee from buffalo milk' 'Jute, raw or retted'
 'Natural rubber in primary forms' 'Other sugar crops n.e.c.'
 'Other pome fruits' 'Chicory roots' 'Vanilla, raw'
 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh'
 'Yautia' 'Fonio' 'Karite nuts (sheanuts)' 'Kola nuts' 'Melonseed'
 'Pepper (Piper spp.), raw' 'Nutmeg, mace, cardamoms, raw' 'Quinoa'
 'Brazil nuts, in shell'
 'Meat of other domestic camelids, fresh or chilled'
 'Meat of other domestic rodents, fresh or chilled' 'Other camelids'
 'Other rodents' 'Pyrethrum, dried flowers'
 'Balata, gutta-percha, guayule, chicle and similar natural gums in primary forms or in plates, sheets or strip'
 'Cashewapple' 'Ramie, raw or retted' 'Cassava leaves'
 'Meat of pigeons and other birds n.e.c., fresh, chilled or frozen'
 'Bambara beans, dry' 'Skim milk, evaporated'
 'Cinnamon and cinnamon-tree flowers, raw' 'Cloves (whole stems), raw'
 'Other birds' 'Tallowtree seeds' 'Agave fibres, raw, n.e.c.'
 'Abaca, manila hemp, raw'
 'Snails, fresh, chilled, frozen, dried, salted or in brine, except sea snails'
 'Kapok fibre, raw' 'Kapok fruit' 'Kapokseed in shell' 'Jojoba seeds'
 'Butter of goat milk']
Element
['Area harvested' 'Yield' 'Production' 'Stocks'
 'Producing Animals/Slaughtered' 'Laying' 'Yield/Carcass Weight'
 'Milk Animals']
Unit
['ha' 'kg/ha' 't' 'An' '1000 An' '100 mg/An' 'No/An' '1000 No' '100 g/An'
 '0.1 g/An' 'No']

In [30]:
df_livestock = df_prod[df_prod['Element'] == 'Stocks']

In [32]:
print('Categorical Values:')
cat_variables = df_livestock.select_dtypes(include=['object']).columns
for col in cat_variables:
    print(col)
    print(df_livestock[col].unique())

Categorical Values:
Area
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium'
 'Belgium-Luxembourg' 'Belize' 'Benin' 'Bhutan'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic'
 'Chad' 'Chile' 'China' 'China, Hong Kong SAR' 'China, Macao SAR'
 'China, mainland' 'China, Taiwan Province of' 'Colombia' 'Comoros'
 'Congo' 'Cook Islands' 'Costa Rica' "CÃ´te d'Ivoire" 'Croatia' 'Cuba'
 'Cyprus' 'Czechia' 'Czechoslovakia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Ethiopia PDR' 'Faroe Islands'
 'Fiji' 'Finland' 'France' 'French Guiana' 'French Polynesia' 'Gabon'
 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guadeloupe'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran (Islamic Republic of)'
 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Mali'
 'Malta' 'Martinique' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands (Kingdom of the)' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'Niue' 'North Macedonia' 'Norway' 'Oman' 'Pakistan'
 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Republic of Korea'
 'Republic of Moldova' 'RÃ©union' 'Romania' 'Russian Federation' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Serbia and Montenegro' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Sudan (former)' 'Suriname'
 'Sweden' 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'Timor-Leste' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'TÃ¼rkiye' 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay' 'USSR'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Yugoslav SFR' 'Zambia' 'Zimbabwe' 'World' 'Africa'
 'Eastern Africa' 'Middle Africa' 'Northern Africa' 'Southern Africa'
 'Western Africa' 'Americas' 'Northern America' 'Central America'
 'Caribbean' 'South America' 'Asia' 'Central Asia' 'Eastern Asia'
 'Southern Asia' 'South-eastern Asia' 'Western Asia' 'Europe'
 'Eastern Europe' 'Northern Europe' 'Southern Europe' 'Western Europe'
 'Oceania' 'Australia and New Zealand' 'Melanesia' 'Micronesia'
 'Polynesia' 'European Union (27)' 'Least Developed Countries'
 'Land Locked Developing Countries' 'Small Island Developing States'
 'Low Income Food Deficit Countries'
 'Net Food Importing Developing Countries']
Item
['Asses' 'Camels' 'Cattle' 'Chickens' 'Goats' 'Horses' 'Mules and hinnies'
 'Sheep' 'Cattle and Buffaloes' 'Poultry Birds' 'Sheep and Goats' 'Bees'
 'Buffalo' 'Ducks' 'Geese' 'Swine / pigs' 'Turkeys' 'Rabbits and hares'
 'Other camelids' 'Other rodents' 'Other birds' 'Meat, Total']
Element
['Stocks']
Unit
['An' '1000 An' 'No']

In [54]:
excluded_areas = ['World','Africa', 'Eastern Africa', 'Middle Africa','Northern Africa','Southern Africa', 'Western Africa','Americas','Northern America','Central America'
,'Caribbean','South America' ,'Asia' ,'Central Asia' ,'Eastern Asia',
 'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe',
 'Eastern Europe', 'Northern Europe', 'Southern Europe', 'Western Europe',
 'Oceania' ,'Australia and New Zealand', 'Melanesia', 'Micronesia',
 'Polynesia', 'European Union (27)', 'Least Developed Countries',
 'Land Locked Developing Countries', 'Small Island Developing States',
 'Low Income Food Deficit Countries',
 'Net Food Importing Developing Countries', 'China']
df_livestock = df_livestock[~df_livestock['Area'].isin(excluded_areas)]

In [55]:
df_livestock = df_livestock[~df_livestock['Item'].str.contains('and')]
df_livestock_sorted = df_livestock.sort_values(by = 'Y2023', ascending = False)
df_livestock_sorted.head(10)

,Area,Item,Element,Unit,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,...,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022,Y2023
11545,"China, mainland",Swine / pigs,Stocks,An,82270000.0,75520000.0,99970000.0,131800000.0,152470000.0,166925008.0,...,478931400.0,471602100.0,458028900.0,441589162.0,428171139.0,310406902.0,406504200.0,449224200.0,452560000.0,434222700.0
6828,Brazil,Cattle,Stocks,An,56041312.0,57739888.0,59703040.0,61732944.0,63831856.0,66002144.0,...,212366132.0,215220508.0,218190768.0,215003578.0,213809445.0,215008958.0,217836282.0,224601992.0,234352649.0,238626442.0
25753,India,Cattle,Stocks,An,175600000.0,173900000.0,173971008.0,175800000.0,175900000.0,176212000.0,...,187000000.0,188075193.0,189154198.0,190485261.0,191957536.0,193462871.0,194943621.0,193383591.0,194148070.0,194478229.0
11510,"China, mainland",Sheep,Stocks,An,61640000.0,60750000.0,64120000.0,69740000.0,74450000.0,78260000.0,...,152770000.0,162237700.0,166667800.0,164078873.0,161388200.0,163489620.0,173095300.0,186376800.0,194030100.0,192983700.0
25818,India,Goats,Stocks,An,60864000.0,61600000.0,62334000.0,63070000.0,63800000.0,64589008.0,...,141293209.0,142874037.0,144329883.0,145810486.0,147301276.0,148884786.0,150429576.0,151725289.0,153010367.0,154262149.0
11241,"China, mainland",Goats,Stocks,An,51170000.0,63120000.0,70530000.0,67730000.0,62240000.0,60765008.0,...,136575200.0,141675200.0,145075100.0,138237686.0,135746862.0,137231742.0,133452500.0,133316400.0,132242500.0,129342000.0
25730,India,Buffalo,Stocks,An,51207920.0,51541008.0,51355008.0,52200000.0,52540000.0,52955008.0,...,110000000.0,110313638.0,110361500.0,110233529.0,110045533.0,109851678.0,109665841.0,111436558.0,111737493.0,112049996.0
39884,Nigeria,Goats,Stocks,An,623000.0,758000.0,917000.0,1113000.0,1336000.0,1595000.0,...,71958213.0,72527691.0,76135326.0,78038709.0,79893060.0,81875539.0,84039154.0,86140133.0,88070668.0,89294278.0
58147,United States of America,Cattle,Stocks,An,97700000.0,100369008.0,104488000.0,107903008.0,109000000.0,108862000.0,...,88526000.0,89143000.0,91888000.0,93624600.0,94298000.0,94804701.0,93793300.0,93586500.0,91788700.0,88841000.0
41103,Pakistan,Goats,Stocks,An,8800000.0,9200000.0,9600000.0,10000000.0,10400000.0,10800000.0,...,66615000.0,68420000.0,70274000.0,72179000.0,74134000.0,76143000.0,78207000.0,80326000.0,82503000.0,84738000.0

In [56]:
print('Categorical Values:')
cat_variables = df_livestock.select_dtypes(include=['object']).columns
for col in cat_variables:
    print(col)
    print(df_livestock[col].unique())

Categorical Values:
Area
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium'
 'Belgium-Luxembourg' 'Belize' 'Benin' 'Bhutan'
 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic'
 'Chad' 'Chile' 'China, Hong Kong SAR' 'China, Macao SAR'
 'China, mainland' 'China, Taiwan Province of' 'Colombia' 'Comoros'
 'Congo' 'Cook Islands' 'Costa Rica' "CÃ´te d'Ivoire" 'Croatia' 'Cuba'
 'Cyprus' 'Czechia' 'Czechoslovakia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Ethiopia PDR' 'Faroe Islands'
 'Fiji' 'Finland' 'France' 'French Guiana' 'French Polynesia' 'Gabon'
 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guadeloupe'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran (Islamic Republic of)'
 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Mali'
 'Malta' 'Martinique' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands (Kingdom of the)' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'Niue' 'North Macedonia' 'Norway' 'Oman' 'Pakistan'
 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Republic of Korea'
 'Republic of Moldova' 'RÃ©union' 'Romania' 'Russian Federation' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Serbia and Montenegro' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Sudan (former)' 'Suriname'
 'Sweden' 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'Timor-Leste' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'TÃ¼rkiye' 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay' 'USSR'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Yugoslav SFR' 'Zambia' 'Zimbabwe']
Item
['Asses' 'Camels' 'Cattle' 'Chickens' 'Goats' 'Horses' 'Sheep'
 'Poultry Birds' 'Bees' 'Buffalo' 'Ducks' 'Geese' 'Swine / pigs' 'Turkeys'
 'Other camelids' 'Other rodents' 'Other birds' 'Meat, Total']
Element
['Stocks']
Unit
['An' '1000 An' 'No']

In [27]:
df_livestock.to_csv('production_livestock.csv', index = False)